<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-android-media-projection"
        version="0.0.1">
    <name>Cordova Media Projection</name>
    <description>Cordova Media Projection is to capture device screen in real time and show it on a Surface-View. .
        Available for Android ONLY.
    </description>
    <license>Apache 2.0</license>
    <keywords>cordova,phonegap,media-capture,screen-recorder</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/mediaProjection.js" name="MediaProjection">
        <clobbers target="window.mediaProjection"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaProjection">
                <param name="android-package" value="com.webmons.disono.mediaprojection.MediaProjection"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        </config-file>

        <source-file src="src/com/webmons/disono/mediaprojection/MediaProjection.java"
                     target-dir="src/com/webmons/disono/mediaprojection"/>

        <framework src="com.android.support:appcompat-v7:25.2.0" />
    </platform>
</plugin>